<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Demo</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Демо</h1>

<div class="container unauthenticated">
  <p>With GitHub: <a href="/oauth2/authorization/github" class="btn btn-primary">Click here to log in</a></p>
</div>

<div class="container authenticated" style="display: none;">
  <p>Logged in as: <span id="user"></span></p>
  <button onClick="logout()" class="btn btn-primary">Logout</button>
</div>

<script type="text/javascript">
  $.get("/user", function(data) {
    if (data.name) {
      $("#user").html(data.name);
      $(".unauthenticated").hide();
      $(".authenticated").show();
    }
  });

  var logout = function() {
    $.post("/logout", function() {
      $(".unauthenticated").show();
      $(".authenticated").hide();
    });
  }
</script>

</body>
</html>
